.bottom_aligner {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    width: 0px;
}

.header {
    background-color: #5e35b1;
}

.header-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    width: 100%;
}

.logo {
    height: 130px;
    margin: 20px 0;
    transform: rotate(-20deg);
}

.new-pizza {
    bottom: 0;
    padding: 1em 0;
    position: absolute;
    width: 100%;
}

.new-pizza-container {
    flex-grow: 1;
    position: relative;
}

.pizza-actions {
    text-align: center;
}

.pizza-action-button {
    margin: 0 12px;
}

.pizzas-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    width: 100%;
}

.pizza-card {
    margin: 48px auto;
    width: 860px;
}

.pizza-title {
    font-size: 28px;
    font-weight: 300;
    line-height: normal;
    margin: 24px 0;
    text-align: center;
    width: 100%;
}
